<%- include('./nav.html') %>

<ul>
    <li>id :<%= item._id%></li>
    <li>titre :<%= item.titre%></li>
    <li>description :<%= item.description%> </li>
    <li> adresse : <%= item.adresse%></li>
    <li> cp : <%= item.code_postal%></li>
    <li> ville : <%= item.ville%></li>
    <li>  prix : <%= item.prix%> </li>
</ul>
